
h1,h2,h3,h4 {
    text-align: center;
    text-transform: uppercase;
}

.box {
    border: 1px solid black;
    width: 550px;
    /* height: 400px; */
    margin: auto;
    background-color: rgb(10, 165, 165);
    color: black;
}


@media (max-width: 550px) {
    .box {
        width: inherit;
    }   
}
