:host {
    position: relative;
    top: -35px;
    display: block;
}

.container {
    position: absolute;
    background-color: yellow;
    color: black;
    padding: 5px;
    border: 1px solid black;
    font-size: 12px;
} 

.text-container {
    white-space: nowrap;
}
